@use '../base/base' as *;

.lds-ring {
  display: inline-block;
  position: absolute;
  left: -16px;
  bottom: 71px;

  @media only screen and (min-width: $bp-tablet) {
    left: -17px;
    bottom: 80px;
  }

  @media only screen and (min-width: $bp-desktop) {
    left: -17px;
    bottom: 89px;
  }
}
.lds-ring span {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 5rem;
  height: 5rem;
  margin: 8px;
  border: 8px solid $light-cyan;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $light-cyan transparent transparent transparent;
}
.lds-ring span:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring span:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring span:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
