/*
Spacing system
  2  /  4  / 8  / 12 / 16  / 24 / 32 / 48 / 64 / 80 / 96 / 128 px
.125 / .25 / .5 /.75/ 1 / 1.5 /  2 /  3 /  4 /  5 /   6 /  8 rem
*/

/*
Font size system
10    / 12 /   14 / 16 /   18 /  20  /  24 /   30  /   36 /  44  /   52 /   62  /   74  /   86  / 98 px
.625 / .75 / .875 / 1 / 1.125 / 1.25 / 1.5 / 1.875 / 2.25 / 2.75 / 3.25 / 3.875 / 4.625 / 5.375 / 6.125 rem
*/

// Colors

// Primary

$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);

// Neutral

$greyish-blue: hsl(217, 19%, 38%);
$dark-greyish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

// Responsive breakpoint

$bp-tablet: 37.5em; // 600px
$bp-desktop: 56.25em; // 900px

html {
  font-size: 0.875rem; // 14px

  @media only screen and (min-width: $bp-tablet) {
    font-size: 1rem; // 16px
  }

  @media only screen and (min-width: $bp-desktop) {
    font-size: 1.125rem; // 18px
  }
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.2;
  color: $light-cyan;
  background-color: $dark-blue;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 0.875rem;
  margin-top: 5rem;
  text-align: center;

  &__link {
    text-decoration: none;
    color: $neon-green;

    &:hover {
      text-decoration: underline;
    }
    &:focus {
      outline: 3px solid $neon-green;
      border-radius: 0.25rem;
      outline-offset: 1px;
    }
  }
}
